body{
background-color: white;
}

/************tag Selectors ****************/
img:hover
{
  background-color: gold;
}



/**************** class Selectors ************/
.bacon{
  background-color: green;
}

.broccoli{
  background-color: red;
}

.circular{
  border-radius: 100%;
}

/**************** Ids selectors **************/
#heading {
  color: blue;
}
